.classpath
.project
.settings
target
*.iml
.springBeans
.myumldata
.idea
.idea/*.xml
.DS_Store
/geek
/boss
/job
~/
/logs
dubbo-*.file
dubbo-*.file.lock
*.lock
*.file
*.log
disconf
agent.log.*
/polaris/
dubbo-registry-*
/blueGeek
/blueBoss
/zhipin-xzats-server/blueBoss
/zhipin-xzats-server/blueGeek
.vscode
.cursor
__pycache__